#footer(ng-controller='FooterController')
    div(class='tc-white-1', flex-container='row')
        div(flex-item='2' flex-item-order='1')
            div(class='p+ bgc-red-500')
                | 'Sección Footer 1'
        div(flex-item='6' flex-item-order='1')
            div(class='p+ bgc-blue-500')
                | 'Sección Footer 2'
        div(flex-item='4' flex-item-order='1')
            div(class='p+ bgc-green-500')
                | 'Sección Footer 3'
