<!-- Linking CSS's files -->

link(rel='stylesheet', href='stylesheets/dependencies/lumx/lumx.css')
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
link(rel='stylesheet', href='stylesheets/style.css')
link(rel='stylesheet', href='stylesheets/style.styl')

<!-- Linking JS's files -->

script(type='text/javascript', src='javascript/dependencies/jquery/jquery.js')
script(type='text/javascript', src='javascript/dependencies/angular/angular.js')
script(type='text/javascript', src='javascript/dependencies/lumx/lumx.js')
script(type='text/javascript', src='javascript/dependencies/moment/moment-with-locales.js')

<!-- Linking Controller's -->

script(type='text/javascript', src='javascript/main.js')